/* ============for color  */

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Itim&family=Noto+Serif&family=Roboto+Condensed:wght@300&display=swap');

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #5a3496;
    --bs-purple: #5913da;
    --bs-pink: #d63384;
    --bs-red: #dc3545;

    --br-bg-color: linear-gradient(74deg, rgba(192, 0, 255, 1) 0%, rgba(121, 9, 118, 1) 54%, rgba(36, 0, 32, 1) 100%);

    --icon-color: #156904;
    --btn-color: linear-gradient(74deg, rgb(36, 0, 48) 0%, rgb(9, 121, 82) 54%, rgb(29, 85, 22) 100%);



    /* heading */

    --head-font: 'Bree Serif', serif;
    --paragraph-font: 'Itim', cursive;
    --ancor-font: 'Noto Serif', serif;
    --footer-font: 'Roboto Condensed', sans-serif;


    /* -font size of ancor tag */
    --fz-ancor: 17px;

    /*   font weight   */
    --fw-ancor: 600;

}





body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}




* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


#topbar {
    background: #23282d;
}

#topbar .topb-left a {
    text-decoration: none;
    color: #fff;
    margin-right: 14px;
    font-size: small;
    font-weight: 400;
}

.topb-right ul li {
    list-style: none;
    margin-left: 4px;
    background-color: rgba(187, 184, 184, 0.4);
    padding: 0 5px;

}

.topb-right ul li a {
    color: #fff;
}

/* Navbar start from here */


#header {
    box-shadow: 3px 1px 11px #636464;
    z-index: 11;
    position: sticky;
    top: 0;
    width: 100%;
    background: #fff;
}

.nav-item {
    position: relative;
}

.nav-item a {
    display: flex;
    width: 100%;
    font-weight: var(--fw-ancor);
    font-size: var(--fz-ancor);
    transition: all 0.3s ease-in;
    font-family: var(--ancor-font);
}

.nav-item .nav-link::after {
    content: '';
    position: absolute;
    bottom: 4px;
    left: 0;
    background: var(--br-bg-color);
    height: 3px;
    width: 0;
    transition: 0.5s;
}

.nav-item .nav-link:hover::after {
    display: block;
    width: 100%;
}

.nav-item a svg {
    width: 25px;
    height: 25px;
    margin-right: 6px;
    color: var(--icon-color);
}

.nav-item a img {
    width: 25px;
    height: 25px;
    margin-right: 6px;
    color: #825708;
}

nav ul li:hover .sub-menu {
    display: block;
}

.sub-menu {
    top: 33px;
    border-top: 4px solid #107909;
    display: none;
    padding: 9px;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.sub-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all 0.2s ease-in-out;
    font-family: var(--ancor-font);
}

.sub-menu a:hover {
    background-color: #f1f1f1;
    border-bottom: 2px solid #79096f;
}

/* =============================breadcrums styling===============================*/
.breadcrumbs nav {
    /* background: radial-gradient(transparent , rgb(91, 1, 92)); */
    background: linear-gradient(40deg, transparent, #590152);

    /* background: var(--br-bg-color); */
}

.breadcrumbs ol {
    display: flex;
    justify-content: end;
    padding: 5px 10px;
}

.breadcrumbs ol li a {
    color: #fff;
    text-decoration: none;
    font-weight: var(--fw-ancor);
    font-family: var(--ancor-font);
}

.breadcrumbs ol li {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.breadcrumbs ol li.color {
    color: cyan;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}


/* ========================= scroll bar styling============== */

::-webkit-scrollbar {
    width: 12px;
    transition: all 0.4s ease-in-out;

}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #09d4cd);
    border-radius: 6px;
    transition: all 0.4s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #825708);
    transition: all 0.4s ease-in-out;

}